/* 声明字体图标 注意路径变化 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.style_red {
    color: #c81623;
}
/* 快捷导航模块 */
.shortcut {
    line-height: 31px;
    height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li {
    float: left;
}
/* 选择所有偶数的li */
.shortcut .fr ul li:nth-child(even) {
    margin: 9px 13px;
    width: 1px;
    height: 12px;
    background-color: #666;
}
/* 使用伪元素制作三角 */
.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 10px;
}

/* 头部模块制作 */
header {
    position: relative;
    height: 105px;
    /* background-color: #8fc3fd; */
}
.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    /* background-color: skyblue; */
}
.logo a {
    display: block;
    width: 171px;
    height: 61px;
    font-size: 0px;
    background: url(../images（样式类图片文件夹）/logo.png) no-repeat;
}

.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}
.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}
.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #f1f1f1;
}
.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}
.hotwords a {
    margin: 0 10px;
}
.shopcar {
    position: absolute;
    right: 64px;
    top: 25px;
    width: 136px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}
.shopcar::before {
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 7px;
    color: #d84b4b;
}
.shopcar::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 10px;
}
.count {
    position: absolute;
    top: -4px;
    left: 104xp;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    color: #f1f1f1;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0px;
}

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}
.nav .navitems {
    float: left;
}
.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
.dropdown .dd {
    /* display: none; */
    width: 210px;
    height: 465px;
    background-color: #c81623;
}
.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}
.dropdown .dd ul li:hover {
    background-color: #fff;
}
.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    font-family: 'icomoon';
    content: '\e920';
    font-size: 14px;
}
.dropdown .dd ul li:hover::after {
    color: #c81623;
}
.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}
.dropdown .dd ul li:hover a {
    color: #c81623;
}

.navitems ul li {
    float: left;
}
.navitems ul li a {
    display: block;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0px 25px;
}

/* 底部模块制作 */
.footer {
    height: 415px;
    padding-top: 30px;
    background-color: #f5f5f5;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ededed;
}
.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 37px;
}
.mod_service h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    /* 精灵图 */
    background: url(../images（样式类图片文件夹）/icons.png) no-repeat -252px -2px;
    text-indent: -9999px;
}
.mod_service .mod_service_ji {
    background-position: -255px -54px;
}
.mod_service .mod_service_wu {
    background-position: -256px -106px;
}
.mod_service .mod_service_te {
    background-position: -257px -157px;
}
.mod_service .mod_service_bang {
    background-position: -257px -209px;
}
.service_txt {
    margin-top: 5px;
}
.service_txt h4 {
    font-size: 14px;
}
.service_txt p {
    font-size: 12px;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ededed;
    padding: 21px 0 0 52px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 95px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.copyright {
    line-height: 20px;
}


